:root {
    --black: black;
    --white: white;
    --purple: rgb(50, 3, 100);
    --blue: rgb(42, 42, 161);
    --main-font: "Irish Grover", system-ui;
    --secondary-font: "Pacifico", cursive;
}

* {
    background-color:var(--black);
}

.modal {    
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: var(--purple);
    border: 1px solid var(--white);
    margin: 15% auto;
    width: 80%;
    text-align: center;
}

.modal img {
    width: 90%;
    border-radius: 20px;
}

.modal h2 {
    padding: 10px;
    margin: 0px;
}

#cocktail-name,
.close,
#cocktail-details,
#cocktail-details p {
    background-color: var(--purple);
}

#cocktail-name {
    font-family: var(--main-font);
}

#cocktail-details p {
    font-size: 2em;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 2rem;
}

#cocktail-name,
#cocktail-details {
    border-radius: 0.25rem;
}

h1,
h2,
h3,
p {
    color: var(--white);
}

header {
    background-color: var(--purple);
    padding: 20px 0px 20px 2px;
}

h1 {
    font-family: var(--main-font);
    background-color: var(--purple);
    text-align: center;
    margin: auto;
}

.search-bar {
    position: absolute;
    left: 30px;
    top: 30px;
}

#search-button {
    font-family: var(--secondary-font);
    font-size: 1em;
    position: absolute;
    left: 225px;
    top: 30px;
    color: var(--white);
    border: 1px solid var(--white);
    background-color: var(--blue);
}

#search-button:hover {
    transform: scale(1.02);
    cursor: pointer;
    background-color: rgb(80, 3, 150);
}


#randomBtn {
    font-family: var(--secondary-font);
    font-size: 1em;
    position: absolute;
    right: 30px;
    top: 30px;
    color: var(--white);
    border: 1px solid var(--white);
    background-color: var(--blue);
}

#randomBtn:hover {
    transform: scale(1.02);
    cursor: pointer;
    background-color: rgb(80, 3, 150);
}
ul {
    display: flex;
    flex-direction: row;
    background-color: var(--purple);
    justify-content: flex-end;
    margin-bottom: 0;
}

li {
    font-family: var(--main-font);
    list-style: none;
    background-color: var(--purple);
    padding: 0px 30px 0px 30px;
    border-left: 5px solid var(--black);
    border-top: 5px solid var(--black);
    margin: 0px;
    font-size: 2em;
}

nav ul li {
    color: var(--white);
    text-decoration: none;
}

nav ul li:hover,
#favorites-section p:hover {
    transform: scale(1.02);
    cursor: pointer;
    background-color: rgb(80, 3, 150);
}



main {
    display: flex;
    flex-direction: row;
}

#favorites-section {
    flex: 0 0 30%;
    background: var(--purple);
}

#favoriteDrinks {
    background-color: var(--purple);
    font-family: var(--secondary-font);
    color: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#favoriteDrinks:hover {
    background-color: rgb(80, 3, 150);
    transform: scale(1.02);
}

#favorites-section-header {
    background-color: var(--purple);
    position: absolute;
    top: 100px;
    left: 30px;
    font-family: var(--main-font);
}

#favorites-section p {
    font-size: 1.5em;
    margin: 20px 0px 0px 30px;
    background-color: var(--purple);
}

#info-section {
    flex: 1 1 70%;
}

h3 {
    font-family: var(--main-font);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

#info-section img {
    display: block;
    margin: 0 auto;
    width: 80%;
}

#info-section button {
    display: block;
    margin: 0 auto;
    width: 80%;
    color: white;
    margin-bottom: 50px;
    font-size: 1em;
    font-family: var(--secondary-font);
    color: var(--white);
    border: 1px solid var(--white);
    background-color: var(--blue);
}

@media (max-width: 1090px) {
    .search-bar {
        top: 100px;
        display: block;
        width: 90vw;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    #search-button {
        position: absolute;
        right: 5%;
        left: 60%;
        top: 100px;
    }
    
    #randomBtn {
        display: block;
        width: 90vw;
        top: 160px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    
    header {
        padding-bottom: 150px;
    }

    ul,
    main {
        flex-direction: column;
    }

    ul li {
        border-left: none;
        text-align: center;
    }

    #favorites-section,
    #favoriteDrinks {
        background-color: var(--blue);
    }

    #favorites-section-header {
        position: relative;
        top: 0px;
        left: 0px;
        text-align: center;
        background-color: var(--blue);
    }

    #favorites-section p {
        background-color: var(--blue);
        margin: 0px;
        padding: 0px 0px 10px 0px;
        text-align: center;
    }
}