:root {
    --black: black;
    --white: white;
    --purple: rgb(50, 3, 100);
    --blue: rgb(42, 42, 161);
}
* {
    background-color:var(--black);
}

.irish-grover-regular {
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
  }

.pacifico-regular {
font-family: "Pacifico", cursive;
font-weight: 400;
font-style: normal;
}
  

h1,
h2,
h3,
p {
    color: var(--white);
}

header {
    background-color: var(--purple);
    padding: 20px 0px 20px 2px;
}

h1 {
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: var(--purple);
    text-align: center;
    margin: auto;
}

.search-bar {
    position: absolute;
    left: 30px;
    top: 30px;
}

#search-button {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    position: absolute;
    left: 225px;
    top: 30px;
    color: white;
}

#randomBtn {
    font-family: "Pacifico", cursive;
    font-weight: 200;
    font-style: normal;
    font-size: 1em;
    position: absolute;
    right: 30px;
    top: 30px;
    color: var(--white);
    border: 1px solid var(--white);
    background-color: var(--blue);
}

ul {
    display: flex;
    flex-direction: row;
    background-color: var(--purple);
    justify-content: flex-end;
    flex-wrap: wrap;
}

li {
    list-style: none;
    background-color: var(--purple);
    padding: 0px 30px 0px 30px;
    border-left: 5px solid var(--black);
    border-top: 5px solid var(--black);
    margin: 0px;
    font-size: 2em;
    text-align: center;
}

nav ul li {
    color: var(--white);
    text-decoration: none;
}
nav ul li:hover {
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: row;
}

#favorites-section {
    flex: 0 0 30%;
}

#favorites-section-header {
    background-color: var(--purple);
    position: absolute;
    top: 100px;
    left: 30px;
}

#info-section {
    flex: 1 1 70%;
}


  
  button {
    cursor: pointer;
    border: none;
    font-weight: 600;
  }
  
  .modal {
    display: flex;
    align-items: center;
    width: 50%;
    align-items: center;
    justify-content: end;
  }
  

  
  .shidden {
    display: none;
  }

@media (max-width: 1090px) {
    .search-bar {
        top: 100px;
        display: block;
        width: 90vw;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    #search-button {
        position: absolute;
        right: 5%;
        left: 60%;
        top: 100px;
        color: var(--purple);
    }
    
    #randomBtn {
        display: block;
        width: 90vw;
        top: 160px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    
    header {
        padding-bottom: 150px;
    }

    ul {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    #favorites-section-header {
        position: relative;
        top: 0px;
        left: 0px;
        text-align: center;
        background-color: black;
    }
}