:root {
    --black: black;
    --white: white;
    --purple: rgb(50, 3, 100);
    --blue: rgb(42, 42, 161);
    --main-font: "Irish Grover", system-ui;
    --secondary-font: "Pacifico", cursive;
}

* {
    background-color:var(--black);
}

.modal {
    display: none;
} 

h1,
h2,
h3,
p {
    color: var(--white);
}

header {
    background-color: var(--purple);
    padding: 20px 0px 20px 2px;
}

h1 {
    font-family: var(--main-font);
    background-color: var(--purple);
    text-align: center;
    margin: auto;
}

.search-bar {
    position: absolute;
    left: 30px;
    top: 30px;
}

#search-button {
    font-family: var(--secondary-font);
    font-size: 1em;
    position: absolute;
    left: 225px;
    top: 30px;
    color: var(--white);
    border: 1px solid var(--white);
    background-color: var(--blue);
}

#randomBtn {
    font-family: var(--secondary-font);
    font-size: 1em;
    position: absolute;
    right: 30px;
    top: 30px;
    color: var(--white);
    border: 1px solid var(--white);
    background-color: var(--blue);
}

ul {
    display: flex;
    flex-direction: row;
    background-color: var(--purple);
    justify-content: flex-end;
    margin-bottom: 0;
}

li {
    font-family: var(--main-font);
    list-style: none;
    background-color: var(--purple);
    padding: 0px 30px 0px 30px;
    border-left: 5px solid var(--black);
    border-top: 5px solid var(--black);
    margin: 0px;
    font-size: 2em;
}

nav ul li {
    color: var(--white);
    text-decoration: none;
}

nav ul li:hover,
#favorites-section p:hover {
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: row;
}

#favorites-section {
    flex: 0 0 30%;
    background: var(--purple);
}

#favoriteDrinks {
    background-color: var(--purple);
}

#favorites-section-header {
    background-color: var(--purple);
    position: absolute;
    top: 100px;
    left: 30px;
    font-family: var(--main-font);
}

#favorites-section p {
    font-size: 1.5em;
    margin: 20px 0px 0px 30px;
    background-color: var(--purple);
}

#info-section {
    flex: 1 1 70%;
}

h3 {
    font-family: var(--main-font);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

#info-section img {
    display: block;
    margin: 0 auto;
    width: 80%;
}

#info-section button {
    display: block;
    margin: 0 auto;
    width: 80%;
    color: white;
    margin-bottom: 50px;
    font-size: 1em;
    font-family: var(--secondary-font);
    color: var(--white);
    border: 1px solid var(--white);
    background-color: var(--blue);
}

@media (max-width: 1090px) {
    .search-bar {
        top: 100px;
        display: block;
        width: 90vw;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    #search-button {
        position: absolute;
        right: 5%;
        left: 60%;
        top: 100px;
    }
    
    #randomBtn {
        display: block;
        width: 90vw;
        top: 160px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    
    header {
        padding-bottom: 150px;
    }

    ul,
    main {
        flex-direction: column;
    }

    ul li {
        border-left: none;
        text-align: center;
    }

    #favorites-section,
    #favoriteDrinks {
        background-color: var(--blue);
    }

    #favorites-section-header {
        position: relative;
        top: 0px;
        left: 0px;
        text-align: center;
        background-color: var(--blue);
    }

    #favorites-section p {
        background-color: var(--blue);
        margin: 0px;
        padding: 0px 0px 10px 0px;
        text-align: center;
    }
}